course.aux
course.fdb_latexmk
course.fls
course.log
course.synctex.gz

/course.aux
/course.fdb_latexmk
/course.fls
/course.log
/course.synctex.gz

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
